{
  "env": {
    "node": true,
    "es2021": true,
    "mocha": true
  },
  "extends": [
    "standard"
  ],
  "overrides": [
    {
      "files": "*.spec.js",
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
